body{
    display: flex;
    justify-content: center;
    background-color: black;
}
.grid-square{
    background-color: rgb(200, 235, 198);
    margin: 0px;
    padding: 0px;
    z-index: 1;
    transition: background-color 0.5s;
}
.grid-square:hover{
    background-color: rgb(116, 95, 175);
    transition: background-color 0s;
}
.grid-row{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.border-label{
    color: rgb(231, 231, 231);
    font-variant-caps: small-caps;
    font-weight: bolder;
    font-size: large;
}
.size-slider{
    width: 75%;
}
.title-text{
    color: rgb(231, 231, 231);
    font-variant-caps: small-caps;
    font-weight: bolder;
    font-size: 2.2em;
}
.border-button{
    border-radius: 10px;
    background-color: rgb(135, 95, 175);
    border-color: rgb(84, 11, 133);
    border-width: 3px;
    font-variant-caps: small-caps;
    font-weight: bolder;
    color: rgb(231, 231, 231);
    font-size: large;
}
.border-button:hover{
    background-color: rgb(145, 95, 175);
    border-radius: 8px;
}
.active{
    background-color: rgb(165, 95, 175);
    border-style:inset;
}
.active:hover{
    background-color: rgb(165, 95, 175);
    color: rgb(210, 210, 210);
    border-style:inset;
}
.color-picker{
    border-style: ridge;
    border-width: 3px;
    border-radius: 8px;
}
.color-picker:active{
    border-style:groove;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style:inset;
    border-width: 7px;
    border-color: rgb(84, 11, 133);
    margin: 0px;
    padding: 0px;
    border-radius: 25px;
    height: 600px;
    width: 600px;
    z-index: 3;
    overflow: hidden;
}
#container-border{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(116, 95, 175);
    border-color: rgb(145, 95, 175);
    border-style: outset;
    border-width: 6x;
    margin: 75px;
    padding: 20px;
    height: 750px;
    width: 900px;
    border-radius: 75px;
    z-index: 3;
    overflow: hidden;
}
#border-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
}
#border-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 1200px;
    margin: 0px;
    padding: 0px;
}
#border-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 50%;
}
#bl-border{
    display: flex;
    flex-direction: row;
}
#bc-border{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#br-border{
    display: flex;
    flex-direction: row;
}
#cb-left{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 50%;
}
#cb-right{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 50%;
}