.grid-square{
    border-style:dotted;
    border-color: rgb(204, 212, 221);
    border-width: 0px;
    background-color: rgb(200, 235, 198);
    margin: 0px;
    padding: 0px;
}
.grid-square:hover{
    background-color: blue;
}
.grid-row{
    display: flex;
}
#container{
    display: flex;
    flex-direction: column;
    border-style:dotted;
    border-color: rgb(204, 212, 221);
    margin: 0px;
    padding: 0px;
    border-radius: 25px;
    height: 960px;
    width: 960px;
}